* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  font-family: 'Roboto';
}

.header-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #3367d6;
  padding: 20px;
}

.search-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-icon-container {
  height: 40px;
  width: 60px;
  background-color: #2850a7;
  border: 2px solid #6697ff;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-right: 10px;
}

.search-history {
  color: #f8fafc;
  background-color: #2850a7;
  border: 2px solid #6697ff;
  padding-left: 15px;
  width: 400px;
  padding: 10px;
}
.history-content-container {
  display: flex;
  flex-direction: column;
  width: auto;
  width: 80%;

  background-color: #ffffff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-width: 400px;
  border: 2px solid #ececec;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.each-history {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}

ṭime {
  color: #64748b;
  font-size: small;
  font-weight: bold;
  min-width: 68px;

  font-family: 'Roboto';
  margin-right: 20px;
}

.icon-delete-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logo-element {
  width: 20px;
  height: 20px;
  margin-right: 25px;
  margin-left: 25px;
}
.logo-content {
  display: flex;
  flex-direction: row;
  flex-direction: flex-start;
  align-items: center;
}

.name {
  color: #475569;
  font-size: small;
  font-weight: bold;
  margin-right: 20px;
}

.website {
  color: #64748b;
  font-size: small;
}

.delete-button {
  width: 40px;
  height: 40px;
  border-style: none;
  background-color: transparent;
  outline: none;
  margin-left: auto;
}

.delete-icon {
  width: 20px;
  height: 20px;
}

.empty-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-element {
  font-size: 20px;
  color: #64748b;
}
